div(class="modal fade bd-example-modal-lg" id="modaleditarprov" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
  div(class="modal-dialog modal-lg" role="document")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title" id="exampleModalLabel") EDITAR PROVEEDOR
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      div(class="modal-body")
        form(style="border: 8px black inset; font-family: bold" align="center")
          .form-row
            .form-group.col-md-6
              .form-group(class="container")
                label NOMBRE DE LA EMPRESA
                input(type="text" class="form-control" id="nombre" style="border: 2px blue outset" )    
            .form-group.col-md-6
              .form-group(class="container")
                label DIRECCION
                input(type="text" class="form-control" id="direccion" style="border: 2px blue outset")          
          .form-row
              .form-group.col-md-3              
                .form-group(class="container")
                  label NIT
                  input(type="text" class="form-control" id="nit" style="border: 2px blue outset")          
              .form-group.col-md-3              
                .form-group(class="container")
                  label TEL EMPRESA
                  input(type="text" class="form-control" id="telefonoempresa" style="border: 2px blue outset")          
              .form-group.col-md-2
                .form-group(class="container")
                  label EXTENSION
                  input(type="text" class="form-control" id="numextension" style="border: 2px blue outset")                        
              .form-group.col-md-4
                .form-group(class="container")
                  label CORREO ELECTRONICO
                  input(type="text" class="form-control" id="correo" style="border: 2px blue outset")                        
          .form-row
              .form-group.col-md-3
                .form-group(class="container")
                  label CONTACTO
                  input(type="text" class="form-control" id="contacto" style="border: 2px blue outset")                        
              .form-group.col-md-5              
                .form-group(class="container")
                  label FECHA RELACION COMERCIAL
                  input(type="text" class="form-control" id="nit" style="border: 2px blue outset")          
              .form-group.col-md-3              
                .form-group(class="container")
                  label ESTADO
                  select(id="estado" class="form-control" style="border: 2px blue outset")
                    option.select seleccionar
                    option.select ACTIVO
                    option.select DE BAJA    
          .form-group.col-md-4              
                label CORREO ELECTRONICO
                input(type="text" class="form-control" id="correo" style="border: 2px blue outset")                        
                                                                                                                                    
      div(class="modal-footer")
        button(type="button" class="btn btn-secondary" data-dismiss="modal" style="border: 2px black outset") CERRAR
        button(button type="button" class="btn btn-primary" style="border: 2px black outset") GUARDAR
        
