div(class="modal fade bd-example-modal-lg" id="modalnuevoproveedor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
  div(class="modal-dialog modal-lg" role="document")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title" id="exampleModalLabel") NUEVO PROVEEDOR
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      div(class="modal-body")
        form(class="needs-validation" novalidate ,style="border: 8px black solid; font-family: bold" align="center" id="formproveedor")
          .form-row
            .form-group.col-md-6
              .form-group(class="container")
                label NOMBRE DE LA EMPRESA
                input(type="text" class="form-control" id="nombre" style="border: 2px blue solid" required pattern="([A-Za-z]+).+")    
                <div class="invalid-tooltip">
                loo  Por favor ingrese nombre.!
                </div>
            .form-group.col-md-6
              .form-group(class="container")
                label DIRECCION
                input(type="text" class="form-control" id="direccion" style="border: 2px blue solid" required pattern="([A-Za-z0-9]+).+")
                <div class="invalid-tooltip">
                loo  Por favor ingrese direccion.!
                </div>                    
          .form-row
              .form-group.col-md-3              
                .form-group(class="container")
                  label NIT
                  input(type="text" class="form-control" id="nit" style="border: 2px blue solid" required pattern="[0-9]{7}-[0-9]{1}") 
                  <div class="invalid-tooltip">
                  loo  Por favor ingrese NIT valido!
                  </div>          
              .form-group.col-md-3              
                .form-group(class="container")
                  label TELEFONO
                  input(type="text" class="form-control" id="telefono" style="border: 2px blue solid" required pattern="[0-9]{4}-[0-9]{4}")
                  <div class="invalid-tooltip">
                  loo  Por favor ingrese TELEFONO valido.!
                  </div>              
              .form-group.col-md-2
                .form-group(class="container")
                  label EXTENSION
                  input(type="text" class="form-control" id="extension" style="border: 2px blue solid" required pattern="[0-9]{8}")
                  <div class="invalid-tooltip">
                  loo  Por favor ingrese extension Valida!
                  </div>                       
              .form-group.col-md-4
                .form-group(class="container")
                  label CORREO ELECTRONICO
                  input(type="text" class="form-control" id="correo_empresa" style="border: 2px blue solid" required pattern="*.")                
                  <div class="invalid-tooltip">
                  loo  Por favor ingrese Email valido!
                  </div>                         
          .form-row
              .form-group.col-md-3
                .form-group(class="container")
                  label CONTACTO
                  input(type="text" class="form-control" id="contacto" style="border: 2px blue solid" required pattern="([A-Za-z]+).+")    
                  <div class="invalid-tooltip">
                  loo  Por favor ingrese contacto.!
                  </div>                        
              .form-group.col-md-5              
                .form-group(class="container")
                  label FECHA RELACION COMERCIAL
                  div(class="input-group date fj-date")
                    input(type="text" class="form-control" id="fecha_relacion" style="border: 2px blue solid" required)          
                    span(class="input-group-addon")
                    i(class="glyphicon glyphicon-th")
                    <div class="invalid-tooltip">
                    loo  Por favor ingrese Fecha!
                    </div>                   
              .form-group.col-md-3              
                .form-group(class="container")
                  label ESTADO
                  select(id="estado" class="form-control" style="border: 2px blue solid")
                    
                    option.select ACTIVO
                    option.select INACTIVO    
          .form-row
              .form-group.col-md-5
                .form-group(class="container")
                  label CORREO ELECTRONICO
                  input(type="text" class="form-control" id="correo_contacto" style="border: 2px blue solid" required pattern="*.")                
                  <div class="invalid-tooltip">
                  loo  Por favor ingrese Email valido!
                  </div> 
                  <input type="text" id="bandera" name="bandera">
                  <input type="text" id="id" name="id">
      div(class="modal-footer")
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="check1">
          <label id="che" class="form-check-label" for="check1">MODIFICAR DATOS</label>
        </div>
        <div class="form-group form-check">
          button(type="button" id="btnCerrar" name="btnCerrar" class="btn btn-secondary" data-dismiss="modal" style="border: 2px black solid") CERRAR
          button(button type="button" id="btnguardarproveedor" name="btnguardarproveedor" class="btn btn-primary" style="border: 2px black solid") GUARDAR
      </div>   
      script(src="fecha/js/app.js")
