// barra principal de arriba para mostrar los clientes
.content-page-container.full-reset.custom-scroll-containers(style='background-color:   #f8f9f9 ;')
  nav.navbar-user-top.full-reset(style='background-color: #021528')
    ul.list-unstyled.full-reset
      li(style='color:#fff; cursor:default;')
        span.all-tittles
      li.tooltips-general.exit-system-button(data-href='/', data-placement='bottom', title='Salir del sistema')
        i.zmdi.zmdi-power
      li
        font(face='Balmoral LET', size='6', color='white' )
          | SKY RANGER GUATEMALA
  
  //body page --------------------------------------------------------------------------------------------------------------
  nav(class="navbar navbar-light bg-light")  
    span
      button(type="button" id="btnnuevolote" name="btnnuevolote" class="button blue radius hover" style="border: 2px black solid")            
        span(class="fas fa-plus-circle fa-lg")
        span(class="fas fa-calendar-alt fa-lg")        

    form(class="form-inline")
      font(face="Balmoral LET", size="6", color="black")
        | LOTES    
              
  section.full-reset(style="padding: 10px; background-color: #ffffff")  
    //font(face="Balmoral LET", size="4", color="black")   
    font(face="Balmoral LET", size="4", color="black")         
      div(class="table-responsive")
        table(class="table table-hover" style="text-align: center" id="tablalotes")
          thead(class="thead-dark")
            tr
              th(scope="col") #
              th(scope="col") CODIGO LOTE
              th(scope="col") PROVEEDOR
              th(scope="col") CANTIDAD DISPOSITIVOS
              th(scope="col") FECHA COMPRA
              th(scope="col") FECHA ACTIVACION
              th(scope="col") OPCIONES                      
          tbody(id="tablitalote")
            tr
              th(scope="row")
              td nose
              td TIGO
              td 10
              td 10/10/10
              td 10/10/10
              td
                div(class="input-group")
                  div(class="input-group-append")
                    button(type="button" class="buttonsmall hover" id="btneditarlote")
                      span(class="fas fa-edit")                

    nav(aria-label="Page navigation example")
      ul(class="pagination")
        li(class="page-item" id="anterior").a(class="page-link" href="#") Anterior
        li(class="page-item" id="pagina" value="1").a(class="page-link" href="#") 1        
        li(class="page-item" id="siguiente").a(class="page-link" href="#") Siguiente
