// barra principal de arriba
.content-page-container.full-reset.custom-scroll-containers(style='background-color:   #f8f9f9 ;')
  nav.navbar-user-top.full-reset(style='background-color: #021528')
    ul.list-unstyled.full-reset
      li(style='color:#fff; cursor:default;')
        span.all-tittles
      li.tooltips-general.exit-system-button(data-href='/', data-placement='bottom', title='Salir del sistema')
        i.zmdi.zmdi-power
      li
        font(face='Balmoral LET', size='6', color='white' )
          | SKY RANGER GUATEMALA
  
  //body page --------------------------------------------------------------------------------------------------------------
  nav(class="navbar navbar-light bg-light")  
    span
      button(type="button" id="btnnuevovehiculo" name="btnnuevovehiculo" class="button blue radius hover")            
        span(class="fas fa-user-plus")
      //li: a(href="/index") Nuevo
    form(class="form-inline")      
      font(face="Balmoral LET", size="6", color="black")
        | VEHICULOS    
          
    section.full-reset(style="padding: 10px; background-color: #ffffff")  
      font(face="Balmoral LET", size="6", color="black")
        | ADMINISTRADOR DE VEHICULOS
