table(class="table table-hover table-dark")
  thead
   tr
    th(scope='col') #
    th(scope='col') Id
    th(scope='col') Alumno
    th(scope='col') Carnet
    th(scope='col') Ciclo
    th(scope='col') Facultad
    th(scope='col') Evento
    th(scope='col') Categoria
    th(scope='col') Opciones
  tbody