nav(aria-label="Page navigation example")
  ul(class="pagination")
    li(class="page-item")
      a(class="page-link" href="#" aria-label="Previous")
        span(aria-hidden="true") &laquo;
        span(class="sr-only") Previous
    li(class="page-item")
      a(class="page-link" href="#") 1
    li(class="page-item")
      a(class="page-link" href="#") 2
    li(class="page-item")
      a(class="page-link" href="#") 3
    li(class="page-item")
      a(class="page-link" href="#" aria-label="Next")
        span(aria-hidden="true") &raquo;
        span(class="sr-only") Next
