// barra principal de arriba
.content-page-container.full-reset.custom-scroll-containers(style='background-color:   #f8f9f9 ;')
  nav.navbar-user-top.full-reset(style='background-color: #021528')
    ul.list-unstyled.full-reset
      li(style='color:#fff; cursor:default;')
        span.all-tittles
      li.tooltips-general.exit-system-button(data-href='', data-placement='bottom', title='Salir del sistema')
        i.zmdi.zmdi-power
      li
        font(face='Balmoral LET', size='6', color='white' )
          | SKY RANGER GUATEMALA
  
  //body page --------------------------------------------------------------------------------------------------------------
  section.full-reset.text-center(style='padding: 10px; background-color: #E4DCDC')
      font(face="Balmoral LET", size="6", color="black")
        | NUEVO CLIENTE
  section.full-reset(style="padding: 10px; background-color: #E4DCDC")
    button(type="button" id="btnnuevocliente" name="btnnuevocliente" class="btn btn-primary" style="border: 2px blue outset")      
      |GUARDAR CLIENTE
