doctype html
head
  title SKY RANGER
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='Shortcut Icon', type='image/x-icon', href='assets/icons/icono.jpg')
  script(type='text/javascript', src='js/sweet-alert.min.js')
  script(type='text/javascript', src='js/jquery-1.11.2.min.js')
  link(rel='stylesheet', href='css/material-design-iconic-font.min.css')
  link(rel='stylesheet', href='css/bootstrap.min.css')
  link(rel='stylesheet', href='css/style.css')
  // estilo al login
  link(rel='stylesheet', href='css/login.css')
  // cuadro donde va el login
body(style="background-image: url(assets/img/gps.jpg); background-size: cover;")
block content
  
