doctype html
head
  title INICIO
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='Shortcut Icon', type='image/x-icon', href='assets/icons/skyranger.jpg')
  script(src='js/sweet-alert.min.js')
  link(rel='stylesheet', href='css/sweet-alert.css')
  link(rel='stylesheet', href='css/material-design-iconic-font.min.css')
  // nos muestra los iconos del menu y de arriba
  link(rel='stylesheet', href='css/bootstrap.min.css')
  link(rel='stylesheet', href='css/style.css')
  link(rel='stylesheet', href='css/jquery.mCustomScrollbar.css')
  // nos permite desplazarnos de arriba a abajo en el menu
  // permite mostrar un menu en una opcion
  <script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script> <!--permite mostrar un menu en una opcion-->
  script(src='js/bootstrap.min.js')
  script(src='js/jquery.mCustomScrollbar.concat.min.js')
  script(src='js/main.js')

body
block content
