extends headinicio
block content
  include menu/menuIzquierdo
  include proveedores/proveedor
  include proveedores/nuevoproveedor
  //include proveedores/modaleditarproveedor

  script(src="js/modals/newproveedor.js")
  script(src="js/funcionesGenericas/funcionesGenericas.js")
  script(src="js/funcionesProveedor/editarProveedor.js")
  script(src="js/funcionesClientes/DataTable.js")