extends headinicio
block content
  include vehiculo/vehiculo
  include vehiculo/modalnuevovehiculo
  include vehiculo/modalasignargps
  include vehiculo/historialvehiculo
  script(src="js/modalvehiculo/modalnuevovehiculo.js")
  script(src="js/modalvehiculo/funcionesVehiculo.js")
<<<<<<< HEAD
=======
  script(src="js/modalvehiculo/modalhistorialvehiculo.js")
  script(src="js/modalvehiculo/modalAsignarGPS.js")
  script(src="js/funcionesGenericas/funcionesGenericas.js")
  script(src="js/funcionesClientes/DataTable.js")
>>>>>>> c051f5eaf453d82d994403c7c7547b9fa6e93425
  script(src="js/funcionesGenericas/funcionesGenericas.js")
  //script(src="js/modalvehiculo/modalasignargpsve.js")
