extends encabezados/head
block content
  include menu/menuIzquierdo
  include clientes/cliente
  include formulariosModales/cliente
  include formulariosModales/clienteeditar
  script(src="js/modals/nuevocliente.js")
