extends headinicio
block content
  include menu/menuIzquierdo
  include sims/menusims
  include sims/nuevasim

  script(src="js/modals/newsim.js")
  script(src="js/funcionesGenericas/funcionesGenericas.js")