extends headinicio
block content
  include lotes/lote
  include lotes/modalnuevolote
  //include lote/modaleditarlote
  
  script(src="js/modallote/modaldelote.js")
  script(src="js/modallote/funcioneslotes.js")
  script(src="js/funcionesClientes/DataTable.js")
  script(src="js/funcionesGenericas/funcionesGenericas.js")
