extends headinicio
block content
  include vehiculo/vehiculo
  include vehiculo/modalnuevovehiculo
  include vehiculo/modalasignargps
  script(src="js/modalvehiculo/modalnuevovehiculo.js")
  script(src="js/modalvehiculo/funcionesVehiculo.js")
  script(src="js/funcionesGenericas/funcionesGenericas.js")
  //script(src="js/modalvehiculo/modalasignargpsve.js")
