extends headinicio
block content
  include sims/menusim
  include sims/nuevasim

  script(src="js/funcionesClientes/DataTable.js")
  script(src="js/modalsim/nuevasim.js")
  script(src="js/funcionesGenericas/funcionesGenericas.js")
  
