extends headinicio
block content
  include menu/menuIzquierdo
  include clientes/cliente
  include vehiculo/modalnuevovehiculo
  include formulariosModales/cliente
  include formulariosModales/clienteeditar
  //include paginacion/clientespa
  script(src="js/funcionesGenericas/funcionesGenericas.js")
  script(src="js/modals/nuevocliente.js")
  script(src="js/funcionesClientes/funciones.js")
  script(src="js/funcionesClientes/DataTable.js")
    
  
