doctype html
head
  title SKY RANGER
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='Shortcut Icon', type='image/x-icon', href='assets/icons/skyranger.jpg')
  script(src='js/sweet-alert.min.js')
  link(rel='stylesheet', href='css/sweet-alert.css')
  link(rel='stylesheet', href='css/material-design-iconic-font.min.css')
  // nos muestra los iconos del menu y de arriba
  link(rel='stylesheet', href='css/bootstrap.min.css')
  link(rel='stylesheet', href='css/style.css')
  link(rel='stylesheet', href='css/jquery.mCustomScrollbar.css')
  link(rel="stylesheet", href="css/diseño.css")
  link(rel="stylesheet", href="css/estiloform.css")
  // nos permite desplazarnos de arriba a abajo en el menu
  // permite mostrar un menu en una opcion
  <script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script> <!--permite mostrar un menu en una opcion-->
  script(src='js/bootstrap.min.js')
  script(src='js/jquery.mCustomScrollbar.concat.min.js')
  script(src='js/main.js')
  script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous")
  link(rel='stylesheet', href='css/stylenav.css')
  //link(type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection")
  //script(type="text/javascript" src="js/materialize.min.js")
body
  section
    div(class="container-fluid")
      div(class="container")
        div(class="formBox")
          form
            div(class="row")
              div(class="col.sm-12")
                h1 CONTACTO
              div(class="row")
                div(clas="col-sm-6")
                  div(class="inputBox")
                    div(class="inputText focus") NOMBRE
                    input(type="text" name="" class="input")
                div(clas="col-sm-6")
                  div(class="inputBox")
                    div(class="inputText") NOMBRE
                    input(type="text" name="" class="input")
