section
  div(class="container-fluid")
    div(class="container")
      div(class="formBox")
        form
          div(class="row")
            div(class="col.sm-12")
              h1 CONTACTO
            div(class="row")
              div(clas="col-sm-6")
                div(class="inputBox")
                  div(class="inputText focus") NOMBRE
                  input(type="text" name="" class="input")
              div(clas="col-sm-6")
                div(class="inputBox")
                  div(class="inputText") NOMBRE
                  input(type="text" name="" class="input")
    
