.form-container
    // aqui se agrega un cuadro donde ira la informacion
    p.text-center(style='margin-top: 17px')
      img(src='assets/icons/skyranger2.jpeg', border='3', width='50%')
    h4.text-center.all-tittles(style='margin-bottom: 30px;') Iniciar Sesion
    <form class="form-signin" id="formlogin" method="post" action="/login">
      .group-material-login
        input.material-login-control(type='text' id='usuario' name='usuario' required='')
        span.bar-login
        // muestra linea en el cuadro de texto
        label
          i.zmdi.zmdi-account
          |  &nbsp; Usuario
      br
      .group-material-login
        input.material-login-control(type='password' name='contraseña' id='contraseña', required='')
        span.highlight-login
        span.bar-login
        // muestra linea en el cuadro de texto
        label
          i.zmdi.zmdi-lock
          |  &nbsp; Contrase&ntilde;a
      br
<<<<<<< HEAD
      <button type="submit" id="btnlogin" class="btn btn-primary">Entrar al sistema</button>
      
=======
<button type="button" id="btnlogin" class="btn btn-primary">Entrar al sistema</button>
>>>>>>> dd4b708929222a79b1204d8d8125c435fedd5a74
