body{
    background-color: #E7E7DE;
    padding-bottom: 70px;
}

.navbar-personalizado{
    background-color: #00587A;
    border-radius: 0;
    margin-bottom: 0;
}

.link-personalizado{
    color: white;
    text-shadow: none;
}

.link-personalizado:hover{
    color: white;
}

.nav-personalizado>li>a{
    color: white;
    text-shadow: none;
}

.nav-personalizado>li>a:hover{
    background-color: #34495e;
}

/** avatar navbar **/
.app-userActive{
    width: 100%;
    height: 20px;
}

.app-activado{
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -0.3em;
}

.avatar{
    height:106px;
    width:106px;
}

.avatar_ratingOfUsers{
    height:24px;
    width:24px;
    float: left;
    margin-right: 0.5em;
}

.app-bar{
    background: white;
}

.app-principal{
    margin-top: 50px;
    background: #00587A;
    color: white;
    text-align: center;
}

.app-subirvideo{
    background-color: #3498bd;
    border-bottom: 6px solid #eceef1;
}

.btn-subirvideo{
    color: white;
    background-color: #2ecc71;
    margin-top: 16px;
    margin-bottom: 16px;
}

.btn-subirvideo:hover{
    color: yellow;
}

.app-datos{
    margin-top: 10px;
    font-size: 1.2em;
    color: white;
    padding-top: 18px;
}

.gl-usuario{
    display: inline-block;

}

.gl-archivos{
    margin-left: 20px;
    display: inline-block;
}

.app-user{
    text-align: center;
    font-size: 1em;
}

.app-img-centrar{
    margin-left: auto;
    margin-right: auto;
}

.app-justificar{
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 5px;
}

.app-iconos{
    font-size: .9em;
}

.gl-vistas{
    color: #33b5e5;
    padding-right: 2px;
    font-size: 1.2em !important;
}

.gl-comentarios{
    color: #2ecc71;
    padding-right: 2px;
    font-size: 1.2em !important;
}

.gl-votos{
    color: #f39c12;
    padding-right: 2px;
    font-size: 1.2em !important;
}

.app-etiquetas{
    font-size: 1em;
    color: white;
    background-color: #2ecc71;
    margin-top: 5px;
    border-bottom: 6px solid #24a159;
    margin-bottom: -8px;
    padding: 0.5em;
}

.media1{
    margin-bottom: 30px;
}

.app-footer{
    background-color: #00587A;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.muro-white{
    background-color: #fff;
}

/*Rating*/
.star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 125px;
    height: 25px;
    overflow: hidden;
    position: relative;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}
.star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}
.star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
}

.star-rating input:hover + i,
.star-rating input:checked + i {
    opacity: 1;
}

.star-rating i ~ i {
    width: 40%;
}

.star-rating i ~ i ~ i {
    width: 60%;
}

.star-rating i ~ i ~ i ~ i {
    width: 80%;
}

.star-rating i ~ i ~ i ~ i ~ i {
    width: 100%;
}

.msj {
    text-align: left;
    display: block;
}

::after, ::before {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
}

/*Categorias*/
.card-categoria {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 1em;
    margin-top: -0.5em;
    text-align: center;
    background-color: white;
}

.title-categoria {
    color: grey;
    font-size: 18px;
    padding-bottom: 1.5em;
    margin-top: -0.1em;
}

.search {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}

.search_btn {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/image/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    z-index: 1;
}

/*login*/
.btn-login{
    background-color: #e67e22;
    color: white;
}

.btn-login:hover{
    background-color: #d35400;
    color: white;
}

.btn-signin{
    background-color: #1abc9c;
    color: white;
}

.btn-signin:hover{
    background-color: #16a085;
    color: white;
}

.app-login{
    background: #00587A;
    color: white;
    text-align: center;
}

/*float button*/
.floatbutton{
    height: 60px;
    width: 60px;
    color: white;
    background-color: #e67e22;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    position: fixed;
    bottom: 2%;
    right: 0%;
    z-index: 4;
    transform: translate(-50%, -50%);
}

.floatbutton_icon{
    font-size: 2em;
}

.floatbutton:hover{
    background-color: #d35400;
    color: white;
    cursor: pointer;
}

/*MESSAGES*/
.chat-messages{
    height: 380px;
    overflow: hidden;
    overflow-y: scroll;
}

.chat-messages .chat{
    padding: 1em;
    font-size: 1.2em;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
}

.chat .chat-content .messages{
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
    background: white;
    padding: 1em;
    padding-bottom: 1.5em;
    box-shadow: 2px 2px 20px -2px rgba(60,51,176,0.2);
    color: rgba(60,51,176,1);
    border-radius: 1.5em;
    margin-bottom: 0.2em;
}

.chat .chat-content .messages .time{
    position: absolute;
    display: block;
    right: 0;
    margin-top: 3px;
    margin-right: 15px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(60,51,176,0.5);
}

.enter-message{
    font-size: 14px;
    color: #8e44ad;
    box-shadow: 0px 0px 5px #333;    
}

/* COMMENTS */
.comentarios{
    background-color: #eee;
}

.contenido{
    background-color: white;
	border-radius: 5px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
	display: inline-block;
	font-size: 14px;
	padding: 15px;
	vertical-align: top;
}

.flecha-izquierda{
    display: inline-block;
	margin-right: -6px;
	margin-top: 10px;
	width: 0; 
	height: 0; 
	border-top: 0px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid white;
}